@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;500;700&display=swap');

*,*::after,*::before {
  box-sizing: unset;
}

:root {
  --m-vio:#4440DB;
  --m-grey:#F5F7FA;
  --m-white:#FFFFFF; 
  --m-dark:#1F2430;
  --s-dark:#3D3D4E;
  --s-grey:#D7D8DA;

  --btn-size:62px;
  --menu-position:-1000px;
}

body {
  margin: 0;
  font-family:'Raleway';
  font-weight: 200;
  letter-spacing: 0.15em;
  background:var(--m-grey);

  overflow-x: hidden;
  line-height: normal !important;
}

.button{
  font-size: 18.72px;
  width:225px;
  height: 62px; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;

  padding:0 0.75em 0 0.75em;
  cursor: pointer;
}

.btn-f-v {
  background:var(--m-vio);
  color: white;
}
.btn-f-l {
  background:var(--m-white);
}
.btn-border-v {
  border:1px solid var(--m-vio);
  color: var(--m-vio);
}
.social span {
  padding:0 0.65em 0 0; 
}

.textTitle {
  font-size: 56px;
  font-weight: 500;
  color:var(--m-dark);
}
.textTitSecond {
  font-size:35px;
  color:var(--s-dark);
  font-weight: 500;
}

.textRemark {
  font-size: 31px;
  color:var(--m-vio);
}
.textContent {
  font-size: 19px;
  color:var(--s-dark);
  font-weight: 500;
}

.text-mDark {
  color:black !important;
}



tag{
  padding:1.5em;
  background:var(--s-grey);
  color:var(--m-dark);
  font-weight: 700;
  font-size: 14px;
  width: max-content;
}

.userPic {
  height:50px;
  width:50px;
  background:grey;
  border-radius: 50%;
  margin:0 1em 0 0;
}

.userBody{
  height: 100%;
  display: inline-flex;
  align-items: center;
  padding:0 2em 0 0;
}

.flex-column {
  display: flex;flex-direction: column;
}

.center-center {
  justify-content: center;
  align-items: center;
}

.align-items-around{
  align-items: space-around;
}

.t-20{
  font-size: 20px;
}