.cPropLink,
.cPropLink:hover {
    text-decoration: none;
    color:unset;
}



.cProp {
    height:530px;
    width:350px;
    background:var(--m-white);
    display: flex;flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.cPropHeader {
    height: 230px;
    width:100%;
    background:grey;
}

.cPropBody {
        display: flex;    
        flex-direction: column;
        font-weight: 500;
        padding: 10px 24px 0 24px;
}

.cPropBody > span{
    padding: 0.5em 0 0.5em 0;
}

.cPropTitle {
    font-size: 20px;
}


.cPropReactions {
    height: 50px;
    width:80%;
    border-top:1px solid grey;
    display: flex;align-items: center;
}

