.themeBody {
    color:var(--m-vio);
    display: inline-flex;
    align-items: center;
}

.themeBody span {padding:0 6px 0 0;}

.themeIcon:before {
    position:absolute;
    content:" ";
    width:25px;
    height:25px;
}